<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>URL Shortener</title>
</head>

<body>
  <h2>YenYen的縮短網址器</h2>
  <h3>YenYen's URL/Link Shortener</h3>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" />
  {{{body}}}
  {{!--
  <script src="/utils/copy.js"></script> --}}
</body>

</html>