{{#if shortURL}}

{{!-- show shortenURL here. --}}
<div class="result">

  <h3>Success! Please use this link:</h3>
  <p id="generatedURL">{{origin}}/{{shortURL}}</p>

  <button class="copy" onclick="copy()">Copy</button>

  <script>
    function copy() {
      const URL = document.getElementById("generatedURL")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>
  <div class="original-link">
    <p class="original"> Original link is here:</p>
    <p class="original">{{reqURL}}</p>
  </div>
</div>
<a href="/">Back to home</a>

{{!-- set POST form --}}
{{else}}
<form action="/" method="POST">
  <div class="container">
    {{!-- required 代表如果使用者沒有輸入內容，會跳出通知 --}}
    {{!-- type="url" 會驗證是否輸入的是網址 --}}
    <input type="url" name="url" placeholder="Input URL/Link here" required />
    <button class="shorten" type="submit">縮短網址 Shorten</button>
  </div>
</form>
{{/if}}